include ../mixins/sub-menu.pug
header.header 
    //- div #{settingGeneral} khi nào cần thay thì đổi biến
    .header-container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/") 
                        img(src="/images/logo.svg", alt="logo")
            .form-search-container.col-3
                form(
                    action ="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-outline-primary"
                        )
                            i.fas.fa-search
                            | &nbsp;&nbsp;Tìm
            .col-6
                //- div #{layoutProductsCategory}
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = "/products";
                            a(href=pathProduct) Sản phẩm 
                                +sub-menu(layoutProductsCategory,pathProduct)
                            //- ul 
                            //-     li
                            //-         a(href="/products/slug-1") Mục 1
                            //-         ul 
                            //-             li 
                            //-                 a(href="/products/slug-1-1") Mục 1 - 1
                            //-             li 
                            //-                 a(href="/products/slug-1-2") Mục 1 - 2
                            //-                 ul 
                            //-                     li 
                            //-                         a(href="/products/slug-1-2-1") Mục 1-2-2
                            //-                     li 
                            //-                         a(href="/products/slug-1-2-2") Mục 1-2-2
                            //-     li
                            //-         a(href="/products/slug-1-1") Mục 2
                        li 
                            a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity: "0"})
                        if(user)
                            li 
                                a(href="/user/info") #{user.fullName}
                            li 
                                a(href="/user/logout") Đăng xuất
                        else
                            li 
                                a(href="/user/login") Đăng nhập
                            li 
                                a(href="/user/register") Đăng ký
                        
