mixin pagination(Pagination)
    .nav 
        ul(class="pagination")
            if(Pagination.currentPage > 1)
                li(class = "page-item")
                    button(
                        class="page-link"
                        button-pagination = Pagination.currentPage - 1
                    ) Trang trước
            - for (var i = 1; i <= Pagination.totalPage; i++)  
            
                li(class=`page-item ${Pagination.currentPage == i ? "active" : ""}`)                  
                    button(
                        class="page-link"
                        button-pagination = i
                    ) #{i}
            if(Pagination.currentPage < Pagination.totalPage)
                li(class = "page-item")
                    button(
                        class="page-link"
                        button-pagination = Pagination.currentPage + 1
                    ) Kế tiếp

