extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug


block main 
    //- - if (messages.success)
    //-     .message.info
    //-         div(
    //-             class="alert alert-success"
    //-             show-alert
    //-             data-time = "3000"
    //-         ) #{messages.success} <span close-alert>X</span>
    
    if(role.permissions.includes("products_view"))
    
    +alert-success("3000")
    h1 Danh sách sản phẩm
    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body
            .row
                .col-6
                    //- each item in filterStatus
                    //-     button(
                    //-         class = `btn btn-sm ml-1 btn-outline-success ${item.class}`
                    //-         button-status=item.status
                    //-     ) #{item.name}
                    +filter-status(filterStatus)
                .col-6
                    +search(keyword)
    .card.mb-3 
        .card-header Sắp xếp 
        .card-body 
            .row 
                .col-4 
                    div(sort)
                        select(
                            class = "form-control"
                            name="sort"
                            sort-select
                        )
                            option(value="position-desc") Vị trí giảm dần 
                            option(value="position-asc") Vị trí tăng dần 
                            option(value="price-desc") Giá giảm dần 
                            option(value="price-asc") Giá tăng dần 
                            option(value="title-desc") Tiêu đề A-Z 
                            option(value="title-asc") Tiêu đề Z-A
                        button(
                            class = "btn btn-danger mt-2"
                            sort-clear
                        ) Clear

    .card.mb-3 
        .card-header Danh sách sản phẩm
            .card-body
                .row 
                    .col-8
                        if(role.permissions.includes("products_edit"))
                            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                    .col-4 
                        if(role.permissions.includes("products_create"))
                            a(
                                href=`${prefixAdmin}/products/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới
                table(
                    class = "table table-hover table-sm"
                    checkbox-multi
                ) 
                    thead
                        tr 
                            th 
                                input(type="checkbox" name="checkall")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Vị trí
                            th Trạng thái
                            th Người tạo
                            th Hành động
                    tbody 
                        each item, index in products
                            tr 
                                td 
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )
                                td #{(Pagination.currentPage - 1) * Pagination.limitItems + index + 1}
                                td 
                                    img(src=item.thumbnail, alt="img", width = "100px" height = "auto")
                                td #{item.title}
                                td #{item.price}
                                td 
                                    input(
                                        type="number"
                                        value = item.position 
                                        style = "width: 60px"
                                        min = "1"
                                        name = "position"
                                    )
                                if(role.permissions.includes("products_edit"))
                                    td 
                                        if(item.status == "active")
                                            a(
                                                href="javascript:;" 
                                                data-status = "active"
                                                data-id = item.id
                                                button-change-status
                                                class="badge badge-success"
                                            ) Hoạt động
                                        else  
                                            a(
                                                href="javascript:;" 
                                                data-status = "inactive"
                                                data-id = item.id
                                                button-change-status 
                                                class="badge badge-danger"
                                            ) Ngừng hoạt động
                                td 
                                    p #{item.accountFullName}
                                    //- p #{item.createdBy.createdAt}
                                    p #{moment(item.createdBy.createdAt).format("DD/MM/YYYY hh:mm:ss")}
                                td 
                                    a(
                                        class="btn btn-secondary btn-sm"
                                        href=`${prefixAdmin}/products/detail/${item.id}`
                                    ) Chi tiết
                                    if(role.permissions.includes("products_edit"))
                                        a(
                                            class="btn btn-warning btn-sm"
                                            href=`${prefixAdmin}/products/edit/${item.id}`
                                        ) Sửa
                                    if(role.permissions.includes("products_delete"))
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                            data-id = item.id
                                            button-delete
                                        ) Xóa
    +pagination(Pagination)
    //form ẩn chỉnh trạng thái
    form(
        action="", 
        method="post"
        id="form-change-status"
        data-path=`/admin/products/change-status`
    ) 
    //form ẩn xóa
    form(
        action="", 
        method="post"
        id="form-delete-item"
        data-path=`/admin/products/delete`
    ) 

    script(src="/admin/js/products.js")
            
                             